/* General */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/background-pagina.png');
  background-color: #98876F; /* Colore di backup */
  font-family: 'Roboto';
}

#wrapper {
  width: 70%;
  margin: auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* Utilites */

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.center {
  text-align: center;
}

/* Header */

#hero,
#nav-menu {
  font-family: 'Montserrat';
  color: #fff;
}

#hero {
  position: relative;
  height: 320px;
  margin-top: 20px;
  border: 10px solid #fff;
  background-image: url('../img/background-banner.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  font-weight: 900;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#logo > img {
  width:  400px;
}

#nav-menu {
  height: 50px;
  margin-bottom: 20px;
  background-color: #666;
}

#nav-menu > ul {
  padding: 0;
  line-height: 50px;
  font-size: 12px;
  font-weight: 700;
}

#nav-menu > ul > li {
  display: inline-block;
  padding: 0 10px;
}


/* Main */

#container h1,
#container h2,
#container h3,
#container h4 {
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #524943;
}

#container h3 {
  text-shadow: 2px 2px 0px #ddd;
}

.col {
  float: left;
}

.col:nth-child(2) {
  padding-right: 50px;
  padding-left: 50px;
}

.col *,
footer {
  border-radius: 7px;
}

.sidebar,
.widgets {
  width: 20%;
}

.content {
  width: 60%;
}

/* Main - Sidebar */

.sidebar a {
  font-weight: 500;
  color: #3D942D;
}

.sidebar > aside > div {
  padding: 10px;
}

.sidebar aside > div > ul {
  list-style: none;
  padding: 0;
}

.sidebar aside > div > ul > li {
  padding: 5px 0;
  text-transform: capitalize;
}

.sidebar aside > div > ul > li:first-of-type {
  text-transform: none;
}

/* Main - Content */

.content > article,
.widgets {
  line-height: 30px;
}

.content > article > div {
  padding: 10px;
}

.sidebar > aside > div,
.content > article > div,
.widgets > aside > div {
  min-height: 300px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
}

/* Footer */

.footer {
  height: 150px;
  background-color: #fff;
  margin-bottom: 20px;
}

#footer-text {
  padding-top: 2px;
  border-bottom: 1px solid #999;
  margin-right: 3px;
  margin-left: 3px;
  color: #ccc;
}

#socials {
  width: 100%;
  margin: auto;
  padding: 0;
  list-style: none;
}

#socials > li {
  float: left;
  width: calc(100%/3);
}

#socials > li > a {
  font-size: 40px;
  color: #cecece;
  line-height: 120px;
}

.bottom {
  padding: 20px;
  color: #444;
}
